.App {
  background: #91ceff;
  border: 1px solid #090089;
  border-radius: 30px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  max-width: 600px;
  margin: 30px auto;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
}

body {
  position: relative;
  left: 10px;
  top: 30px;
  background-color: #d0e4f4;
}

ul {
  list-style: none;
}

.AppContainer {
  text-align: center;
}
